<nav>
  <div class="nav-left">
    <a href="/">Local Music</a>
  </div>

  <div class="nav-right">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/upload">Upload</a>
  </div>
</nav>
