<!DOCTYPE html>
<html>
<head>
  <title>Local Music Platform</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

<%- include("partials/navbar") %>


  <div class="container">
    <h1>Welcome to the Local Music Platform</h1>
    <p>Discover music from artists in your city.</p>

    <input type="text" placeholder="Search by city..." class="search-box">
  </div>

</body>
</html>
