<!DOCTYPE html>
<html>
<head>
  <title>Login - Local Music</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <%- include("partials/navbar") %>


  <div class="container">
    <h2>Login</h2>

    <form>
      <input type="text" placeholder="Email">
      <input type="password" placeholder="Password">
      <button>Login</button>
    </form>
  </div>

</body>
</html>
